:root {
  --color1: #1E1E1E;
  --color2: #EDEDED;
}

body {
  margin: 0;
  background: var(--color2);
}

.container {
  margin: auto;
  overflow: hidden;
  width: 90%;
  height: 100%;
}

nav {
  width: 100%;
  height: 64px;
  background: var(--color1);
}

nav .container {
  display: flex;
  justify-content: space-between;
}

nav img {
  height: 80%;
  margin: auto 0;
}

nav h1 {
  margin: auto 0;
  font-size: 2em;
  color: var(--color2);
}

main {
  background: var(--color2);
}

.content {
  color: var(--color1);
  width: 90%;
  margin: 2em auto;
  border-radius: 6px;
}

.topic {
  background: #EDEDED;
  border: 4px solid #1E1E1E;
  border-radius: 6px;
  height: fit-content;
}

.topic .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  background: #c2c2c2;
  height: auto;
}

.hide {
  height: 0;
}

hr {
  border: 1px solid var(--color1);
}